$primary-dark-blue: hsl(233, 47%, 7%);
$second-dark-blue: hsl(244, 38%, 16%);
$violet: hsl(277, 64%, 61%);

$white: hsl(0, 0%, 100%);
$paragraph-white: hsla(0, 0%, 100%, 0.75);
$stats-white: hsla(0, 0%, 100%, 0.6);
